<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIAppFonts</key>
    <array>
      <string>iconize-material.ttf</string>
      <string>Fonts/Raleway-Black.ttf</string>
      <string>Fonts/Raleway-BlackItalic.ttf</string>
      <string>Fonts/Raleway-Bold.ttf</string>
      <string>Fonts/Raleway-BoldItalic.ttf</string>
      <string>Fonts/Raleway-ExtraBold.ttf</string>
      <string>Fonts/Raleway-ExtraBoldItalic.ttf</string>
      <string>Fonts/Raleway-ExtraLight.ttf</string>
      <string>Fonts/Raleway-ExtraLightItalic.ttf</string>
      <string>Fonts/Raleway-Light.ttf</string>
      <string>Fonts/Raleway-LightItalic.ttf</string>
      <string>Fonts/Raleway-Medium.ttf</string>
      <string>Fonts/Raleway-MediumItalic.ttf</string>
      <string>Fonts/Raleway-Regular.ttf</string>
      <string>Fonts/Raleway-RegularItalic.ttf</string>
      <string>Fonts/Raleway-SemiBold.ttf</string>
      <string>Fonts/Raleway-SemiBoldItalic.ttf</string>
      <string>Fonts/Raleway-Thin.ttf</string>
      <string>Fonts/Raleway-ThinItalic.ttf</string>
    </array>
    <key>MinimumOSVersion</key>
    <string>8.0</string>
    <key>CFBundleDisplayName</key>
    <string>XFBleServerClient</string>
    <key>CFBundleIdentifier</key>
    <string>com.companyname.appname</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleIconFiles</key>
    <array>
      <string>Icon-60@2x</string>
      <string>Icon-60@3x</string>
      <string>Icon-76</string>
      <string>Icon-76@2x</string>
      <string>Default</string>
      <string>Default@2x</string>
      <string>Default-568h@2x</string>
      <string>Default-Portrait</string>
      <string>Default-Portrait@2x</string>
      <string>Icon-Small-40</string>
      <string>Icon-Small-40@2x</string>
      <string>Icon-Small-40@3x</string>
      <string>Icon-Small</string>
      <string>Icon-Small@2x</string>
      <string>Icon-Small@3x</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>bluetooth-central</string>
      <string>bluetooth-peripheral</string>
    </array>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>To connect to other devices.</string>
  </dict>
</plist>
